body {
	font-family: monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
	color: #749ec0;
	background-color: #f3f3f3;
}

a {
	color: #749ec0;
	margin: -10px 0;
}

p, h2{
	color: #527c9e;
}

h1 {
	color: #366890;
}

.container {
	/*background-color: #cbc1d9;*/
	width: 100%;
	max-width: 1300px;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	display: flex;
}

.second-container {
	/*background-color: #749ec0;*/
	width: 100%;
	max-width: 1300px;
	height: 750px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
}

.middle-column,
.right-column {
	margin: 0 10px;
	text-align: center; 
}

.left-column {
	flex: 0.35;
	position: sticky;
	top: 0;
	padding: 0; 
	height: 100vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;

}

.left-column img {
	margin-top: 0px;
	margin-bottom: 20px;
}

.left-column h4 {
	margin: 10px 0;
}

.middle-column {
	/*background-color: #ffffff;*/
	flex: 1;
	padding: 0;  
}

.right-column {
	/*background-color: #fd6c5a;*/
	flex: 1;
	padding: 0;  
}

/*polaroid style boxes*/
.polaroid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.polaroid {
	width: 400px;
	margin: 10px;
	padding: 20px;
	background-color: #fafafa;
	border: 1px solid #dddddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.polaroid img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	MARGIN: 0 auto;
	margin-bottom: 10px;
}

.polaroid .caption {
	width: 350px;
	font-size: 14px;
	color: #333333;
	display: none; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	border: 1px solid #dddddd;
}

.polaroid:hover .caption {
	display: block; 
}

.polaroid .caption .gif-image {
	max-width: 100%;
	max-height: 100%;
	display:block;
	margin: 0 auto;
}